p {
    font-family: Montserrat;
    text-align: center;
}

.t1 {
    font-size: 24px;
    font-weight: bold;
}

.t2 {
    font-size: 18px;
}

.t2s {
    font-family: Montserrat;
    text-decoration: underline;
}