.search-bar {
    display: block;
}

.thumbnail {
    width: 300px;
    display: block;
}

.video-preview {
    vertical-align: top;
    display: inline-block;
    width: 300px;
}

.channel-picture {
    display: inline-block;
    width: 50px;
}

.profile-picture {
    width: 50px;
}

.video-info {
    display: inline-block;
    width: 200px;
}