.search-bar {
    display: block;
}

.thumbnail {
    width: 300px;
    display: block;
}

.video-preview {
    vertical-align: top;
    display: inline-block;
    width: 300px;
}

.video-title{
    margin-top: 0;
}
.channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.profile-picture {
    width: 100%;
}

.video-info {
    display: inline-block;
    width: 200px;
}